
.contact__content {
	margin: 0 auto 4%;
	max-width: 1170px;
	text-align: center;
	
}
.contact__text-block{
	margin: 4% 0 4% 0;
	display: flex;
	flex-direction:column;	
}
.contact__text {
	width: 100%;
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #86878B;
}

.contact__form-blocks {
	height: 25%;
	display: flex;
	justify-content: center;
}
.form-blocks__log-block {
	display: flex;
	flex-direction: column;
	justify-content:space-between;
	width: 50%;
	
}


.form-blocks__message-block {
	width: 50%;
}
.form-blocks__message-block textarea {
	width: 100%;
	height: 100%;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	border-width: 0 0 1px 0;
	border-color: #DBDBDB;
	outline: none;
}
.button-Download {
	margin-top: 4%;
	width: 33%;
}