.customers {
	max-width: 1170px;
	margin: 0 auto;
	padding-top: 40px;
}
.customers__block-text{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.customers__text {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #86878B;
}
.customers__content {
	display: flex;
  justify-content: space-between;
  margin: 80px auto;
}

.customers__case {
	width: 30%;
	height: 50%;
	display: flex;
	flex-direction: column;
	position: relative;
	margin-bottom: 4%;
}

.customers__comment {
	display: flex;
	width: 100%;
	
	background: #E2E2E2;
	border-radius: 10px;
	align-items: center;
	text-align: center;

}

.customers__comment p {
	margin: 10% 5% 10% 5%;
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color:#86878B
}

.customers__comment::after{
	content: '';
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 30px solid #E2E2E2;
	position: absolute;
	top:50%;
	left:10%;
}

.customers__user {
	display: flex;
	justify-content: flex-start;
	margin-top: 20%;
}

.customers__about{
	
	margin-left: 4%;
	display:flex;
	flex-direction: column;
	justify-content: flex-start;
	
}
.customers__pic{
	height: 100%;
	width: 70px;
}
.customers__pic img{
	width: 100%;
	height: 100%;
}
.customers__name p {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 33px;
	margin: 0;

}

.customers__position {
	font-family: 'Raleway';
	text-align: left;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
}

.customers__radio-block{
	display: none;
	margin: 0 auto;
	width:60%;
	height:16px;
	position: relative;
	justify-content: space-around;
}
.customers input{
	display: none;
}
.customers__radio-block label{
	height: 10px;
	width: 10px;
}

.customers__radio-block label span {
	display: inline-block;
	position: relative;
	height: 100%;
	width: 100%;
	border-radius: 10px;
	border: 2px solid #86878B;
}
#cus_r1:checked ~ .customers__radio-block label[for="cus_r1"] span,
#cus_r2:checked ~ .customers__radio-block label[for="cus_r2"] span,
#cus_r3:checked ~ .customers__radio-block label[for="cus_r3"] span{
	background-color: #86878B;
	transform: scale(1.2);
	transition-duration: 1s;
}
