.navigation {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 19px;
	background: transparent;
	color: white;
	display: flex;
	align-items: center;
	justify-content:center;
}

.navigation:hover {
	
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 19px;
	background: #EC7979;
}

.navigation:active {
	
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 19px;
	background: #AB4949;
}

.button-transp {
	height: 60px;
	width: 270px;
	box-sizing: border-box;
	background: transparent;
	border: 2px solid #FFFFFF;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	line-height: 20px;
	color: #FFFFFF;
}

.button-transp:hover {
	height: 60px;
	width: 270px;
	
	border: 2px solid #EC7979;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	line-height: 20px;
	color: #EC7979;
}

.button-transp:active {
	height: 60px;
	width: 270px;
	background: #AB4949;
	border: 2px solid #AB4949;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	line-height: 20px;
}

.button2 {
	height: 60px;
	width: 470px;
	background: #EC7979;
	border-radius: 0px 0px 10px 10px;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	line-height: 20px;
	color: #FFFFFF;
}

.button2:hover {
	height: 60px;
	width: 470px;
	background: #AB4949;
	border-radius: 0px 0px 10px 10px;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	line-height: 20px;
}

.button2:active {
	height: 60px;
	width: 470px;
	background: #EC7979;
	border-radius: 0px 0px 10px 10px;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	line-height: 20px;
}

.button-Download {
	height: 58px;
	width: 270px;
	background: #EC7979;
	border-width: 0;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	color: #FFFFFF;
}

.button-Download:hover {
	height: 58px;
	width: 270px;
	background: #AB4949;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
}

.button-Download:active {
	height: 58px;
	width: 270px;
	background: #EC7979;
	box-shadow: inset 0px 0px 10px #AB4949;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
}