.footer {
	background-color: black;
	height: 164px;
}

.footer__content {
	margin: 0 auto;
	max-width: 1170px;
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.footer__icon-block {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 540px;
}

.footer__cop {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: rgba(255, 255, 255, 0.5);

}