h1 {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 500;
	font-size: 48px;

	align-items: center;
}

h2 {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	height: 150px;
	font-size: 36px;
	align-items: center;
	text-transform: uppercase;
	position: relative;
	}

h3 {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 41px;
	align-items: center;
}

h4 {

	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 33px;
	align-items: center;
}

h5 {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	align-items: center;
}

h6 {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 13px;
	line-height: 18px;
	align-items: center;
}

.header-separator::after{
	content: ' ' ;
	height:1px;
	width: 170px;
	position: absolute;
	top: 114px ;
	left: calc(100%/2 - 85px) ;
	border-top: 1px solid #EC7979;
}