.social {
	width: 100%;
	background-color: #F8EFEF;
	height: 140px;
}

.social__content {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	height: 100%;
	max-width: 1170px;
	
}

.social__text-block {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100%;
	width: 45%;
}

.social__name {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 33px;
}

.social__text {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
}

.social__icons-block {
	height: 100%;
 width:55% ;
	display: flex;
	justify-content: space-around;
	align-items: center;
	
	
}
